@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#calculator {
  background-color: rgba(0, 0, 0, 0.219);
  width: 300px;
  padding: 0.125rem;
}

button {
  display: inline-block;
}

.row {
  display: flex;
  width: 100%;
}

.row input {
  width: 100%;
  padding: 2rem 0.5rem;
  text-align: right;
  font-size: 2rem;
}

.row input:focus {
  outline: none;
}

.row button {
  width: 25%;
  padding: 10px 0;
  font-size: 1.8rem;
}
